*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body{
    background-color: #4B3E67;
}

.cabecalho{
    height: auto;
    background-color: #57467b;
    position: fixed;
    z-index: 20;
    left: 0;
    right: 0;
    top: 0;
}

header .container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0.8%;
}

header .container nav{
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    padding: 0 2%;
}

nav .logo{
    height: auto;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-direction: row-reverse;


   
}

 .square{
    height: 50px;
    width: fit-content;
    font-family: "Press Start 2P", system-ui;
    color: white;
    font-size: 15px;
    color: #BCCCE0;
    background-size: cover;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    
}

.ce{
    color: white;
}

.aga{
    color: #e47bf9;
}

.square img{
    width: 100%;
    height: 100%;
}

.square p{
    text-align: justify;
}

.tri{
    border-radius: 100%;
}

.ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
    width: 30%;
    font-size: 17px;
    color: #ffff;
    
}

.ul img{
    height: 20px;
    width: 20px;
    
}

.ul li{
   display: flex;
   align-items: center;
   gap: 3px;
    height: 100%;
   padding: 5px;
}

.ul .box img{
    color: white
}

.bar{
    display: flex;
    align-items: center;        
    width: 8%;
    
}

.bar div{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 0;
    background-color: #4B3E67;
    border-radius: 5px;
}

.bar div input{
    width: 100%;
    border: none;
    text-align: center;
    background-color: #4B3E67;
    font-style: italic;
    color: white;
    outline: none;

}

.bar div input::placeholder{
    color: #BCCCE0;
}

/*parte js pesquisa*/

.bar.ativo{
    width: 38%; 
                                                      /*barra aumenta a largura, consequentemente, a ul some para dar espaço*/
}
.ul.ativo{
    display: none;
   
}

.pesquisa.ativo{
    background-color: white;
    transition: 0.5s;
}

.input.ativo{
    background-color: white;
    color: black;
    transition: 0.5s;
}

.input.ativo::placeholder{
    color: black;
}

.pontos{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


.pontos .pon{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #ffffff;
}

.pontos .au{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 50%;
    height: 100%;
}

.butao{
    display: flex;
    width: 20%;
    justify-content: space-around;
}

.carlogin img{
    height: 35px;
    width: 35px;
}

.carlogin{
    display: flex;
    align-items: center;
   
}

.carlogin div{
    display: flex;
    background-color: #4B3E67;
    align-items: center;
    padding: 3px;
    border-radius: 5px;
    gap: 5px;
    margin: 5px;
    color: #BCCCE0;
}

.carlogin .p{
    color: white;
}

.car{
    height: 100%;
}

.lon{
    height: 100%;
}

.carlogin img{
    height: 25px;
    width: 25px;
}

.car:hover{
    box-shadow: 0 -3px 0 0 #f51aa4; /* Sombra no topo */
    transition: 0.3s;
    
}

.lon:hover{
    box-shadow: 0 -3px 0 0 #fb5012; /* Sombra no topo */
    transition: 0.3s;
}

.con:hover{
    box-shadow: 0 -3px 0 0 #A5CC6B; /* Sombra no topo */
    transition: 0.3s;
    color: #A5CC6B;
}

.coracao:hover{
    box-shadow: 0 -3px 0 0 #AC4DBF; /* Sombra no topo */
    transition: 0.3s;
}

.pc:hover{
    box-shadow: 0 -3px 0 0 #F6AE2D; /* Sombra no topo */
    transition: 0.3s;
}

.jogo:hover{
    box-shadow: 0 -3px 0 0 #2892D7; /* Sombra no topo */
    transition: 0.3s;
}

.pontos .au:hover{
    box-shadow: 0 -3px 0 0 #BCCCE0; /* Sombra no topo */
    transition: 0.3s;
    
   
   
}

.submenu{
    position: absolute;
    top: 80%;
    opacity: 0;
    background-color:white ;
    border-radius: 5px;
    visibility: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2px 10px;
    z-index: 25;
    
   
}

.submenu li a{
    color: #57467b;
}

.pc .do{
    height: 500px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
    
}

.pc:hover{
    color: #F6AE2D;
    transition: 0.3s;
}

.jogo:hover{
    color: #2892D7;
    transition: 0.3s;
}



.tr .line{
    border-bottom: 2px dashed #2892D7;

}

.do .lines{
    border-bottom: 2px dashed #F6AE2D;
}


.submenu li a{
    text-decoration: none;
    padding: 5px;
}

.con:hover .submenu{
   opacity: 1;
   transition: 0.3s;
   visibility: visible;
    
}

.submenu li:hover{
    background-color: #bccce0a6;
    border-radius: 5px;
}

.pc:hover .do{
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
}

.jogo .tr{
    height: 450px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
}

.jogo:hover .tr{
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
}

.pontos .au:hover .submenu{
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
}

.pontos:hover .pon{
    background-color: #BCCCE0;
    transition: 0.3s;
}

.quatro{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 17px;
    color: #ffff;
    flex-direction: column;
    padding: 1% 1% ;
}

.quatro li{
    gap: 3px;
    height: 100%;
    padding: 5px;
}

/*SETOR 1*/

.setor1{
    margin: 0 auto;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.setor1 .container{
    padding: 0 3%;
    height: auto;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    color: white;
}

.gamer{
    height: 150px;
    width: 280px;
    background-color: #f51aa4;
    border-radius: 5px;

}

.work{
    height: 160px;
    width: 380px;
    background-color: #fb5012;
    border-radius: 5px;
}

.home{
    height: 160px;
    width: 380px;
    background-color: #F6AE2D;
    border-radius: 5px;
    padding: 0 5px;
}

.create{
    height: 150px;
    width: 280px;
    background-color: #A5CC6B;
    border-radius: 5px;
}

.gamer .pc-gamer, .create .pc-gamer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 25px;  
    
}

.pc-gamer div{
    border-left: 1px solid;
    padding: 5px;
    height: 70%;

}

.pc-gamer div p{
    margin: 5px;
    font-size: 15px
    
}

.pc-gamer h4{
    text-align: center;
    font-size: 25px;
    margin-bottom: 5px;
}

.pc-gamer img{
    height: 90px;
    margin: 5px;
}

.home .pc-home, .work .pc-home {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
}

.pc-home div{
    border-left: 1px solid;
    padding: 5px;
}

.pc-home div h4{
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
    
}

.pc-home div p{
    margin: 5px;
   
    
}


.pc-home img{
    width: 40%;
    height:100px ;
    margin: 5px;
}

.gamer, .work, .home, .create{
    box-shadow: rgba(80, 32, 88, 0.35) 0px 5px 15px;
}

/*SECTION 2*/

.setor2{
    margin: 0 auto;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    
}

.setor2 .container:not(:has(>.tiesto)){
    padding: 1% 5%;
    display: flex;
    justify-content: space-between;
    background-color: #BCCCE0;
    width: 71%;
    border-radius: 5px;
    box-shadow: rgba(80, 32, 88, 0.35) 0px 5px 15px;
}

.divs{
    font-family: sans-serif;
  
}

.info{
    display: flex;
    align-items: center;
    gap: 10px;
}

.tittle{
    color: #004D77;
    margin-top: 5px;
    margin-bottom: 10px;
}

.info img{
    height: 50px;
    width: 50px;
}



.close img{
    height: 15px;
    width: 15px;
    position: absolute;
    left: 88%;
    cursor: pointer;
}

.setor2.ativado{
    display: none;
}

/*PARTE DO VIDEO QUE PARECE GIF NAO É*/

.setor3{
    margin: 0 auto;
    height: auto;
    box-shadow: rgba(80, 32, 88, 0.35) 0px 5px 15px;
}

.setor3 .container{
    display: flex;
    align-items: center;
    background-color: #5A266D;
    height: 500px;
    box-shadow: rgba(80, 32, 88, 0.35) 0px 5px 15px;
}

.texto{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
    background: 
    linear-gradient(to right, rgba(239, 235, 235, 0), #040104);
    
    
}

.texto button{
    width: 40%;
    padding: 10px;
    font-size: 15px;
    margin-top: 10px;
    border-radius: 5px;
    background: rgb(100,155,164);
    background: linear-gradient(16deg, #23022F 0%, rgba(172,77,191,1) 100%);
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: #e47bf9 0px 1px 2px 0px, rgba(1, 1, 1, 0.15) 0px 1px 3px 1px;
}

.texto h1{
    font-size: 34px;
    color: #ed95ff;
    font-family: "Bungee Shade", serif;
}

.texto p{
    color: white;
    font-family: sans-serif;
}

.gif{
    height: 100%;
        
}

.gif video{
    height: 100%;
}


/*CARDS*/

.setor4{
    margin: 0 auto;
    height: auto;
    padding: 0 5%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    
}

.setor4 .tiesto{
    height: auto;
    font-family: sans-serif;
    padding: 0 1%;
    margin-bottom: 1%;
    color: white;
    margin-top: 2%;
}

.tiesto h2{
    font-weight: lighter;
}

.setor4 .container{
    height: auto;
    font-family: sans-serif;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: solid;
    
}

.cards{
    width: fit-content;
    background-color: #57467B;
    cursor: pointer;
    box-shadow: rgba(80, 32, 88, 0.35) 0px 5px 15px;
    border-radius: 5px;
}

.videogam{
    font-size: 1rem;
    margin-bottom: 3px;
    color: #BCCCE0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.videogam img{
    height: 20px;
    width: 20px;
}

.compra{
    display: flex;
    justify-content: space-between;
    padding: 4px 5px;
}

.compra p{
    background-color: #F6AE2D;
    padding: 5px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.compra h5{
    background-color: #FB5012;
    display: flex;
    align-items: center;
    font-weight: normal;
    padding: 5px;
    border-radius: 4px;
    color: white;
}

.compra div{
    align-items: center;
    display: flex;
    background-color: #F6AE2D ;
    border-radius: 4px;
    padding-left: 2px;
}

.compra div img{
    height: 20px;
    width: 20px;
    margin-right: 3px;
    display: none;
    
}

.cards:hover .compra div img{
    display: block;
    transition: 0.3s;
}

.cards:hover{
    background: rgb(87,70,123);
    background: linear-gradient(16deg, rgba(87,70,123,1) 0%, rgba(126,108,166,1) 100%);
}

.cards .main img{
    width: 250px;
    height: 150px;
    border-radius: 5px 5px 0 0;
   
}

.especial{
    margin: 2%;
    margin-top: 3%;
    height: 230px;
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 0 2%;
    padding-bottom: 5px;
    border-radius: 5px;
    background-image: url(../img/setuprosa.jpg);
    background-size: 100%;
    background-repeat: no-repeat; 
    background-position: bottom;  
    box-shadow: rgba(80, 32, 88, 0.35) 0px 5px 15px;
    transition: all 0.4s ease;        /* Transição suave para todos os efeitos */
    cursor: pointer;
}

.top{
    background-position: center;
    background-image: url(../img/nintendoWII.jpg);
    
}

.especial:hover{
    background-size: 102%;
   
}

.bui h5{
    background-color: #FB5012;
    display: flex;
    align-items: center;
    font-weight: normal;
    padding: 5px;
    border-radius: 4px;
    color: white;
    margin: 5px;
    font-family: sans-serif;
    border: 1px solid white;
}

.bui p{
    background-color: #F6AE2D;
    padding: 5px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin: 5px;
    cursor: pointer;
    font-family: sans-serif;
    border: 1px solid white;
}

.bui p:hover{
    background-color: #ffdd9d;
}

.bui{
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;
}



.bui .amor{
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 4px;
    background-color: #57467b8a;
    border: 1px solid white;
    cursor: pointer;

}

.amor img{
    height: 20px;
    width: 20px;
}

.amor:hover{
    background-color: #AC4DBF;
}


.planos{
    width: 100%;
    border: solid;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.planos .container{
   width: 90%;;
    border: solid white;
    display: flex;
}

.meet{
    width: 40%;
    border: solid green;
    padding: 2.5%;
}

.meet h2{
    font-size: 2.5rem;
    margin-bottom: 4%;
    color: #f51aa4;
    text-transform: capitalize;
}

.meet p{
    font-size: 1.4rem;
    color: white;
}

.sign{
    width: 60%;
    display: flex;
    justify-content: space-around;
    padding: 1% 0;
}

.plano{
    height: 250px;
    width: 200px;
    border: solid;
    padding: 5px;
    text-align: center;
}

.plano ul{
    font-size: 1.1rem;
    text-transform: capitalize;
    margin-bottom: 20%;
    text-align: start;
    
    padding: 0 8%;
}

.plano button{
    text-align: center;
    width: 50%;
    padding: 2%;
    margin: auto;
}

.plano h3{
    text-align: center;
    text-transform: uppercase;
    padding: 4%;
    border: solid 1px;
    margin-bottom: 10%;
    font-size: 1.3rem;
}
















