main.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0;
    overflow: hidden;
    margin-top: 5%;
    
   
}

.mainc{
    width: 400%;
    height: auto;
    display: flex;
    
}

.mainbanner{
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    height: auto;
    position: relative;
    justify-content: center;
    cursor: pointer;
   transition: 0.5s;
}

.mainc input{
    display: none;
}

.ang_d{
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 10;
    left: 91%;
    display: flex;
    bottom: -20%;
    background-image: url(../img/angulo-direito.png);
    background-size: cover;
    cursor: pointer;
}

.ang_e{
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 10;
    bottom: -20%;
    left: 6%;
    background-image: url(../img/angulo-esquerdo.png);
    background-size: cover;
    cursor: pointer;
    
}

.ang_d:hover{
    background-image: url(../img/angulo-direito_rosa.png);

}

.ang_e:hover{
    background-image: url(../img/angulo-esquerdo_rosa.png);

}







.content{
    color: white;
    display: flex;
    gap: 15px;
    align-items: end;
    padding: 5px 5px;
    box-shadow: rgba(80, 32, 88, 0.35) 0px 5px 15px;
    
}

.um{
    background-image: url(../img/controle-xbox.jpg);
    background-size: cover;
    height: 250px;
    width: 400px;
    border-radius: 5px 0 0 0 ;
}

.dois{
    background-image: url(../img/play2.jpg);
    height: 250px;
    width: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0 5px 0 0;
}

.tres{
    background-image: url(../img/nintendo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    width: 400px;;
    border-radius: 0 0 0 5px;
}

.four{
    background-image: url(../img/notebook.jpg);
    background-size: cover;
    height: 250px;
    width: 800px;
    border-radius: 0 0 5px 0;
}

.cinco{
    background-image: url(../img/ps1.jpg);
}

.seis{
    background-image: url(../img/pc_games.jpg);
}

.sete{
    background-image: url(../img/gamecube.jpg);
}

.oito{
    background-image: url(../img/pc_branco.jpg);
}

.nove{
    background-image: url(../img/witcher.jpg);
    background-position: left;
}

.dez{
    background-image: url(../img/ps4.jpg);
}

.onze{
    background-image: url(../img/controle_nintendinho.jpg);
}

.doze{
    background-image: url(../img/psvr.jpg);
}

.treze{
    background-image: url(../img/xboxseries.jpg);
    background-position: center;
}

.catorze{
    background-image: url(../img/xbox_x.jpg);
    background-position: top;
}

.quinze{
    background-image: url(../img/psp_verde.jpg);
}

.deze{
    background-image: url(../img/pacman-por.jpg);
    background-position: left;
}




.descricao{
   color: black;
   background-color: #fff;
   padding: 10px;
   border-radius: 8px;
}

.Ofertas{
    background-color: #FA7D7D;
    padding: 10px;
    border-radius: 10px;
}

.buy button{
    background-color: #57467B;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    border: none;
   
}

.content:hover .buy button{
    box-shadow: 0 0 20px #57467B;
    background-image:linear-gradient(#57467b, #AC4DBF);
   
}



























.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 35%;            /*container pai das bolinha*/
    display: flex;
    justify-content: center;
}

.nav-manual .botao-manual, .nav-auto div{
    border: solid #f51aa4;
    padding: 4px;
    border-radius: 50%;         /*estilizando as bolinhas, fazendo virar bolinha no caso*/
    cursor: pointer;
}

.nav-manual .botao-manual:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;                                       /*todo mundo recebe um espaçamento, menos a ultima bolinha*/
}

.nav-manual .botao-manual:hover{
    background-color: #f51aa4;
}


#radio1:checked ~ .nav-auto .botao-auto1{
    background-color: #f51aa4;
}

#radio2:checked ~ .nav-auto .botao-auto2{               /*quando o input for marcado, o botao tambem é marcado (background color)*/
    background-color: #f51aa4;
}

#radio3:checked ~ .nav-auto .botao-auto3{
    background-color: #f51aa4;
}

#radio4:checked ~ .nav-auto .botao-auto4{
    background-color: #f51aa4;;
}

#radio1:checked ~ .primeiro{                           /*quando o input for marcado, o evento de margin acontece*/
    margin-right: 0%;
}

#radio2:checked ~ .segundo{
    margin-left: -25%;
}

#radio3:checked ~ .terceiro{
    margin-left: -50%;
}

#radio4:checked ~ .quarto{
    margin-left: -75%;
}

.mainimg{
    background: 
    linear-gradient(to bottom, rgba(239, 235, 235, 0), #4B3E67), 
    url('../img/banner.jpg'); /* Imagem de fundo */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    height: 500px;
    margin-bottom: 2%;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    gap: 5px;
}

.mainimg h1{
    margin-bottom: 5px;
    font-size: 50px;
    animation: loopCores 5s infinite;
    transition: color 5s ease;
}

.mainimg h3{
    margin-bottom: 2px;
    font-size: 25px;
}

.mainimg p{
    font-size: 20px;
    margin-bottom: 2px;
}

.mainimg button{
    padding: 15px 35px;
    margin-top: 15px;
    border-radius: 15px;
    cursor: pointer;
    background: rgb(75,62,103);
    background: linear-gradient(16deg, rgba(75,62,103,1) 0%, rgba(245,26,164,1) 100%);
    border: none;
    color: #ffff;
    
}

.mainimg button:hover{
    box-shadow: rgba(232, 3, 232, 0.823) 0px 0px 0px 3px;
    transition: 0.5s;
}

@keyframes loopCores{
    0%{color: #FA7D7D;}
    25%{color:#f51aa4;}
    50%{color:#A5CC6B;}
    75%{color:#F6AE2D;}
    100%{color:#2892D7;}
}


